
<%= if @current_user do %>
  <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
  <%= link "Member Register", to: Routes.user_registration_path(@conn, :new), class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
  <span class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"><%= @current_user.email  %></span>
<% else %>
  <%= link "Member Login", to: Routes.user_session_path(@conn, :new), class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
<% end %>
